:root {
  --main-color: rgb(253, 246, 146);
}

.form-container {
  display: flex;
  justify-items: center;
  width: 100vw;
  background-color: rgb(93, 68, 97);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding: 50px 70px;
  background-color: var(--main-color);
  height: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.photo-card {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.info {
  display: flex;
  gap: 5px;
  justify-content: center;
  max-width: 100%;
  font-size: 10px;
}

.info-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}

.number {
  justify-content: center;
  display: flex;
}

.min-image {
  width: 100%;
  border-radius: 7%;
  border: 2px solid gray;
}

.search-form {
  margin: 0 auto;
  padding: 10px 0;
}

button {
  padding: 10px;
  background-color: rgb(136, 216, 66);
  border: 3px solid rgb(25, 0, 249);
  border-radius: 10;
  color: rgb(34, 22, 148);
}

.load-more {
  border: 3px solid rgb(6, 114, 0);
  outline: none;
}

button:hover,
button:focus {
  background-color: rgb(23, 114, 3);
  color: var(--main-color);
}

.input-text {
  padding: 10px;
  border: 3px solid rgb(25, 0, 249);
  border-radius: 10;
  text-align: center;
}
